name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master

    - name: Run Shell Env
      run: |
        bash $GITHUB_WORKSPACE/main.sh
